.site-header {
	display: flex;
	height: 10%;
	align-items: center;
	padding: 0;
	list-style-type: none;
	flex-flow: row wrap;
	margin-top: 1em;
}

.site-header ul {
	list-style-type: none;
}

.header-title {
	margin-right: auto;
}

.header-title a h2 {
	font-family: "Lato",sans-serif;
	color: #333;
	margin: 0;
	font-weight: 900;
}

.header-links a:not(:last-child) {
	margin-right: 20px;
}

.fa-external-link {
	padding-left: 5px;
}