---
---

@import "{{ site.theme }}";

body {
	margin-left: 25%;
	margin-right: 25%;
	color: #333;
	background-color: white;
	font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

h1 {
	font-size: 2.998rem
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato","Helvetica Neue",Helvetica,sans-serif;
	font-weight: 900;
	line-height: 1.25;
	margin-top: 1em;
	margin-bottom: .5em;	
}