---
---

@import "{{ site.theme }}";

html {
	@media screen and (min-width: 32em) {
		body {
			font-size: 16px;
		}
	}
	
	@media screen and (min-width: 48em) {
		body {
			font-size: 18px;
		}
	}
	
	@media screen and (min-width: 64em) {
		body {
			font-size: 20px;
		}
	}
	
}


body {
	padding-left: 2rem;	
	padding-right: 2rem;
	margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 67rem;
	color: #333;
	background-color: white;
	font-family: "Georgia","Times New Roman",serif;
	font-size: 100%;
}

h1 {
	font-size: 2.998rem
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato","Helvetica Neue",Helvetica,sans-serif;
	font-weight: 900;
	margin-top: 1em;
	margin-bottom: .5em;	
}

p {
	line-height: 1.5;
	margin-bottom: 1em;
}

ul {
	padding-left: 30px;
	margin-block-end: 1em;
}

.container {
	margin: 20px auto;
	background-color:#fff;
	display:grid;
	width: 100%;
	height: 700px;
	.box {
	  height: 100%;
	  background-color:#333;
	  color:#fff;
	  display:flex;
	  align-items:center;
	  justify-content:center;
	  grid-column: 1;
	  width: 100%;
	}
}

.fa-social {
	padding: 20px;
	font-size: 50px !important;
	width: 95px;
	height: 90px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 5px 2px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
	opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-youtube {
	background: red;
	color: white;
  }
  
  .fa-soundcloud {
	background: orange;
	color: white;
  }

  .fa-bandcamp {
	background: #55ACEE;
	color: white;
  }

  @import url('https://themes.googleusercontent.com/fonts/css?kit=xTOoZr6X-i3kNg7pYrzMspCgKFVjV62G4rjl9DqE8cDrikTKf0aIVRS5KScQVWB1p9jesaj29re7RHGpBcLRTjwtMbq0OL2H0qvtGh7YN_I');

  .resume {
    
      ul.lst-kix_paox3ljdhnxx-1 {
          list-style-type:none
      }
      
      ul.lst-kix_paox3ljdhnxx-0{
          list-style-type:none
      }
      
      ul.lst-kix_paox3ljdhnxx-5{
          list-style-type:none
      }
      
      ul.lst-kix_paox3ljdhnxx-4{
          list-style-type:none
      }
      
      ul.lst-kix_paox3ljdhnxx-3{
          list-style-type:none
      }
      
      ul.lst-kix_paox3ljdhnxx-2{
          list-style-type:none
      }
      
      ul.lst-kix_paox3ljdhnxx-8{
          list-style-type:none
      }
      
      ul.lst-kix_paox3ljdhnxx-7{
          list-style-type:none
      }
      
      ul.lst-kix_paox3ljdhnxx-6{
          list-style-type:none
      }
      
      ul.lst-kix_hrqwbwbt2a2y-0{
          list-style-type:none
      }
      
      ul.lst-kix_hrqwbwbt2a2y-1{
          list-style-type:none
      }
      
      ul.lst-kix_hrqwbwbt2a2y-2{
          list-style-type:none
      }
      
      ul.lst-kix_hrqwbwbt2a2y-3{
          list-style-type:none
      }
      
      .lst-kix_h5db28zcubcr-8>li:before{
          content:"\0025a0  "
      }
      
      ul.lst-kix_hrqwbwbt2a2y-4{
          list-style-type:none
      }
      
      ul.lst-kix_hrqwbwbt2a2y-5{
          list-style-type:none
      }
      
      ul.lst-kix_hrqwbwbt2a2y-6{
          list-style-type:none
      }
      
      ul.lst-kix_h5db28zcubcr-7{
          list-style-type:none
      }
      
      ul.lst-kix_hrqwbwbt2a2y-7{
          list-style-type:none
      }
      
      ul.lst-kix_h5db28zcubcr-8{
          list-style-type:none
      }
      
      ul.lst-kix_hrqwbwbt2a2y-8{
          list-style-type:none
      }
      
      ul.lst-kix_h5db28zcubcr-5{
          list-style-type:none
      }
      
      ul.lst-kix_h5db28zcubcr-6{
          list-style-type:none
      }
      
      ul.lst-kix_h5db28zcubcr-3{
          list-style-type:none
      }
      
      ul.lst-kix_h5db28zcubcr-4{
          list-style-type:none
      }
      
      ul.lst-kix_h5db28zcubcr-1{
          list-style-type:none
      }
      
      ul.lst-kix_h5db28zcubcr-2{
          list-style-type:none
      }
      
      ul.lst-kix_h5db28zcubcr-0{
          list-style-type:none
      }
      
      .lst-kix_paox3ljdhnxx-0>li:before{
          content:"\0025cf  "
      }
      
      .lst-kix_paox3ljdhnxx-1>li:before{
          content:"\0025cb  "
      }
      
      .lst-kix_h5db28zcubcr-2>li:before{
          content:"\0025a0  "
      }
      
      .lst-kix_paox3ljdhnxx-4>li:before{
          content:"\0025cb  "
      }
      
      .lst-kix_paox3ljdhnxx-3>li:before{
          content:"\0025cf  "
      }
      
      .lst-kix_h5db28zcubcr-1>li:before{
          content:"\0025cb  "
      }
      
      .lst-kix_paox3ljdhnxx-2>li:before{
          content:"\0025a0  "
      }
      
      .lst-kix_h5db28zcubcr-0>li:before{
          content:"\0025cf  "
      }
      
      .lst-kix_hrqwbwbt2a2y-2>li:before{
          content:"\0025a0  "
      }
      
      .lst-kix_paox3ljdhnxx-8>li:before{
          content:"\0025a0  "
      }
      
      .lst-kix_hrqwbwbt2a2y-1>li:before{
          content:"\0025cb  "
      }
      
      .lst-kix_paox3ljdhnxx-7>li:before{
          content:"\0025cb  "
      }
      
      .lst-kix_h5db28zcubcr-5>li:before{
          content:"\0025a0  "
      }
      
      .lst-kix_h5db28zcubcr-7>li:before{
          content:"\0025cb  "
      }
      
      .lst-kix_hrqwbwbt2a2y-0>li:before{
          content:"\0025cf  "
      }
      
      .lst-kix_h5db28zcubcr-6>li:before{
          content:"\0025cf  "
      }
      
      .lst-kix_paox3ljdhnxx-5>li:before{
          content:"\0025a0  "
      }
      
      .lst-kix_h5db28zcubcr-3>li:before{
          content:"\0025cf  "
      }
      
      .lst-kix_paox3ljdhnxx-6>li:before{
          content:"\0025cf  "
      }
      
      .lst-kix_h5db28zcubcr-4>li:before{
          content:"\0025cb  "
      }
      
      .lst-kix_hrqwbwbt2a2y-3>li:before{
          content:"\0025cf  "
      }
      
      .lst-kix_hrqwbwbt2a2y-4>li:before{
          content:"\0025cb  "
      }
      
      .lst-kix_hrqwbwbt2a2y-6>li:before{
          content:"\0025cf  "
      }
      
      .lst-kix_hrqwbwbt2a2y-5>li:before{
          content:"\0025a0  "
      }
      
      .lst-kix_hrqwbwbt2a2y-7>li:before{
          content:"\0025cb  "
      }
      
      .lst-kix_hrqwbwbt2a2y-8>li:before{
          content:"\0025a0  "
      }
      
      li.li-bullet-0:before{
          margin-left:-18pt;white-space:nowrap;display:inline-block;min-width:18pt
      }
      
      ol{
          margin:0;padding:0
      }
      
      table td,table th{
          padding:0
      }
      
      .c40{
          border-right-style:solid;padding:3.6pt 3.6pt 3.6pt 3.6pt;border-bottom-color:#666666;border-top-width:0pt;border-right-width:0pt;border-left-color:#666666;vertical-align:top;border-right-color:#666666;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:342pt;border-top-color:#666666;border-bottom-style:solid
      }
      
      .c19{
          border-right-style:solid;padding:3.6pt 3.6pt 3.6pt 3.6pt;border-bottom-color:#666666;border-top-width:0pt;border-right-width:0pt;border-left-color:#666666;vertical-align:top;border-right-color:#666666;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:162pt;border-top-color:#666666;border-bottom-style:solid
      }
      
      .c1{
          margin-left:36pt;padding-top:4pt;padding-left:0pt;padding-bottom:0pt;line-height:1.2;orphans:2;widows:2;text-align:left
      }
      
      .c28{
          color:#353744;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"Proxima Nova";font-style:normal
      }
      
      .c5{
          padding-top:4pt;padding-bottom:10pt;line-height:1.2;orphans:2;widows:2;text-align:left;height:10pt
      }
      
      .c24{
          color:#999999;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:6pt;font-family:"Lato";font-style:normal
      }
      
      .c29{
          color:#00ab44;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:16pt;font-family:"Raleway";font-style:normal
      }
      
      .c0{
          color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Lato";font-style:normal
      }
      
      .c21{
          color:#00ab44;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:14pt;font-family:"Proxima Nova";font-style:normal
      }
      
      .c36{
          padding-top:3pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left
      }
      
      .c35{
          padding-top:4pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left
      }
      
      .c3{
          padding-top:10pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:left
      }
      
      .c10{
          padding-top:0pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:left
      }
      
      .c11{
          padding-top:10pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left
      }
      
      .c23{
          font-size:12pt;font-family:"Proxima Nova";font-style:italic;color:#000000;font-weight:400
      }
      
      .c22{
          font-size:12pt;font-family:"Proxima Nova";font-style:italic;color:#434343;font-weight:400
      }
      
      .c16{
          padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:left;height:10pt
      }
      
      .c14{
          font-size:12pt;font-family:"Proxima Nova";font-style:italic;color:#666666;font-weight:400
      }
      
      .c4{
          padding-top:0pt;padding-bottom:0pt;line-height:1.15;text-align:left;height:10pt
      }
      
      .c27{
          border-spacing:0;border-collapse:collapse;margin:auto
      }
      
      .c9{
          font-size:11pt;font-style:italic;color:#000000;font-weight:400
      }
      
      .c8{
          padding-top:0pt;padding-bottom:0pt;line-height:1.15;text-align:left
      }
      
      .c20{
          color:#d44500;text-decoration:none;vertical-align:baseline;font-style:normal
      }
      
      .c30{
          color:#00ab44;text-decoration:none;vertical-align:baseline;font-style:normal
      }
      
      .c6{
          color:#000000;text-decoration:none;vertical-align:baseline;font-style:normal
      }
      
      .c26{
          padding-top:0pt;padding-bottom:10pt;line-height:1.15;text-align:left
      }
      
      .c25{
          font-size:12pt;font-family:"Proxima Nova";color:#000000;font-weight:400
      }
      
      .c18{
          color:#666666;text-decoration:none;vertical-align:baseline;font-style:italic
      }
      
      .c31{
          font-weight:700;font-size:14pt;font-family:"Lato"
      }
      
      .c13{
          font-weight:400;font-size:11pt;font-family:"Lato"
      }
      
      .c45{
          font-style:italic;color:#666666;font-weight:400
      }
      
      .c38{
          font-weight:700;font-size:24pt;font-family:"Raleway"
      }
      
      .c2{
          font-size:11pt;font-family:"Proxima Nova";font-weight:400
      }
      
      .c32{
          font-weight:700;font-size:10pt;font-family:"Lato"
      }
      
      .c37{
          background-color:#ffffff;max-width:504pt;padding:36pt 54pt 36pt 54pt
      }
      
      .c15{
          font-weight:400;font-size:10pt;font-family:"Lato"
      }
      
      .c44{
          font-size:14pt;font-weight:700
      }
      
      .c34{
          font-size:11pt;font-weight:700
      }
      
      .c33{
          font-family:"Proxima Nova";font-weight:700
      }
      
      .c39{
          font-family:"Proxima Nova";color:#353744
      }
      
      .c17{
          color:#353744;font-size:11pt
      }
      
      .c7{
          padding:0;margin:0
      }
      
      .c42{
          font-size:12pt
      }
      
      .c41{
          font-size:11pt
      }
      
      .c43{
          height:10pt
      }
      
      .c12{
          height:141pt
      }
      
      .title{
          padding-top:0pt;color:#000000;font-weight:700;font-size:24pt;padding-bottom:0pt;font-family:"Raleway";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left
      }
      
      .subtitle{
          padding-top:3pt;color:#f2511b;font-weight:700;font-size:16pt;padding-bottom:0pt;font-family:"Raleway";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
      }
      
      li{
          color:#000000;font-size:10pt;font-family:"Lato"
      }
      
      p{
          margin:0;color:#000000;font-size:10pt;font-family:"Lato"
      }
      
      h1{
          padding-top:24pt;color:#000000;font-weight:700;font-size:10pt;padding-bottom:0pt;font-family:"Lato";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
      }
      
      h2{
          padding-top:10pt;color:#d44500;font-weight:700;font-size:10pt;padding-bottom:0pt;font-family:"Lato";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
      }
      
      h3{
          padding-top:8pt;color:#999999;font-size:9pt;padding-bottom:8pt;font-family:"Lato";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
      }
      
      h4{
          padding-top:8pt;-webkit-text-decoration-skip:none;color:#666666;text-decoration:underline;font-size:11pt;padding-bottom:0pt;line-height:1.15;page-break-after:avoid;text-decoration-skip-ink:none;font-family:"Trebuchet MS";orphans:2;widows:2;text-align:left
      }
      
      h5{
          padding-top:8pt;color:#666666;font-size:11pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
      }
      
      h6{
          padding-top:8pt;color:#666666;font-size:11pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left
      }
      
  }
  

  