---
---

@import "{{ site.theme }}";

header {
	margin-left: 5%;
	margin-right: 5%;
}

body {
	margin-left: 20%;
	margin-right: 20%;
	color: #333;
	background-color: white;
	font-family: "PT Serif", Georgia, "Times New Roman", serif;
	font-size: 1.25rem;
}

h1 {
	font-size: 2.998rem
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato","Helvetica Neue",Helvetica,sans-serif;
	font-weight: 900;
	line-height: 1.25;
	margin-top: 1em;
	margin-bottom: .5em;	
}

p {
	line-height: 1.5;
}

ul {
	padding-left: 30px;
}